
.font-roboto {
    font-family: 'Roboto';
}
.font-eb-garamond {
    font-family: 'EB Garamond';   
}
.font-slabo {
    font-family: 'Slabo';   
}
.font-oswald {
    font-family: 'Oswald';   
}
.font-lora {
    font-family: 'Lora';   
}
.font-dancing-script {
    font-family: 'Dancing Script';   
}
.font-arvo {
    font-family: 'Arvo';   
}
.font-lobster {
    font-family: 'Lobster';   
}
.font-open-sans {
    font-family: 'Open Sans';   
}
.font-raleway {
    font-family: 'Raleway';   
}
.font-sail {
    font-family: 'Sail';   
}
.font-quicksand {
    font-family: 'Quicksand';   
