.splashBackground {
	background-color: #27aae1;
	height: 550px;
	width: 360px;
}

.splashPage {
	background-image: url('../img/instructions-02.png');
	padding-top:1px;
	height: 588px;
	width: 100%;
}

.photo1 {
	background-image: url('../img/photos/photo1.png');
	padding-top:1px;
	height: 588px;
	/*width: 100%;*/
}

.photo2 {
	background-image: url('../img/photos/photo2.png');
	padding-top:1px;
	height: 588px;
	/*width: 100%;*/
}

.photo3 {
	background-image: url('../img/photos/photo3.png');
	padding-top:1px;
	height: 588px;
	/*width: 100%;*/
}

.photo4 {
	background-image: url('../img/photos/photo4.png');
		padding-top:1px;
	height: 588px;
	/*width: 100%;*/
}

.photo5 {
	background-image: url('../img/photos/photo5.png');
	padding-top:1px;
	height: 588px;
	/*width: 100%;*/
}
