.navbar {margin-bottom: 0 !important;}

#blue{
  position:absolute;
  top:100px;
    left:100px;
  width:200px;
    height:200px;
  background-color:blue;
  cursor:pointer;
/*  right:*/
}

#splashText {
  position:relative;
  top: 75px;
  text-align: center;
  font-size: 350%;
  line-height: 1;
  padding: 8px;
  padding-bottom: 30px;
  margin: 30px;
  color: white;
}

#sampleText
{
  position:relative;
  top: 200px;
  text-align: center;
  font-size: 400%;
  line-height: 0.5;
  padding: 8px;
  padding-bottom: 30px;
  margin: 30px;
  color: white;
}

.tilesColumn1 {
  /*padding-left: 0px;*/
 /* padding-left: 10px;*/
  /*padding-right: 20px;*/
    float: left;
    width: 50%;
    /*  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    /*-moz-column-count: 2; /* Firefox */
    /*column-count: 2;*/
}

.tilesColumn2 {
  float: right;
  width: 50%;
}

#tiles { 
	height:100%;
	width:100%;
}


#imageFull {
  height: 550px;
  width: 100%;
/*  padding: 5px;*/
  border-color: transparent;
}

#imageFull2 {
  height: 550px;
  width: 100%;
/*  padding: 5px;*/
  border-color: transparent;
}

h1 {
  text-align: center;
  vertical-align: center;
  color: white;
}

p {

  text-align: center;
  color: white;
  font-size: 1.25em;
}

.font-emphasis {
  font-size: 1.25em;
  font-weight: 500;
}

.refresh-button{
  float:center;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
  height: 48px;
}


/*image fade animation*/
#cf2 {
  position:relative;
  height:100%;
  width:100%;
  margin:0 auto;
}

#cf2 img {
  position:absolute;
  left:0;
  padding: 0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf2 div {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf2 div.transparent {
  opacity:0;
}

#cf2 img.transparent {
	opacity:0;
}
#cf_onclick {
	cursor:pointer;
}

.test {
	transform: scale(-1, 1) rotateY(180deg);
}

/*#cf img.bottom:hover {
  opacity:100;
}*/

/*#imgLeft {
	float: left;
	margin-right: 2.5px;
}

#imgRight {
	float: right;
	margin-left: 2.5px;
}*/

/*tile animations*/

._1 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
._2 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
._3 {
  -webkit-animation-delay: 1.2000000000000002s;
  -moz-animation-delay: 1.2000000000000002s;
  -ms-animation-delay: 1.2000000000000002s;
  -o-animation-delay: 1.2000000000000002s;
  animation-delay: 1.2000000000000002s;
}
._4 {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -ms-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
._5 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
._6 {
  -webkit-animation-delay: 2.4000000000000004s;
  -moz-animation-delay: 2.4000000000000004s;
  -ms-animation-delay: 2.4000000000000004s;
  -o-animation-delay: 2.4000000000000004s;
  animation-delay: 2.4000000000000004s;
}
._7 {
  -webkit-animation-delay: 2.8000000000000003s;
  -moz-animation-delay: 2.8000000000000003s;
  -ms-animation-delay: 2.8000000000000003s;
  -o-animation-delay: 2.8000000000000003s;
  animation-delay: 2.8000000000000003s;
}
._8 {
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -ms-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  animation-delay: 3.2s;
}
._9 {
  -webkit-animation-delay: 3.6s;
  -moz-animation-delay: 3.6s;
  -ms-animation-delay: 3.6s;
  -o-animation-delay: 3.6s;
  animation-delay: 3.6s;
}
._10 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -ms-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
