<div id="sampleContainer">

	<div id="backgroundImage">
		<div id="splashText" class="text-center splash">
		
		<img src= "img/instructions-01.png" width="100%"/>

		<!-- <p><span style="color: #d7df23; line-height: 0.5em;" class="Oswald">INSTRUCTIONS</span></p>
		<p><span style="line-height: 0.5em;" class="Open-Sans">Swipe horizontally to change the FONT </span></p>
		<p><span style="line-height: 0.5em;" class="Open-Sans">Swipe vertically to change the IMAGE</span></p> -->

		</div>
	</div>

</div>