

<div id="cf2" class="animated zoomIn" ng-click="clickImage()">
	
	<div ng-class="{transparent: clicked}" class="top" id="imageFull2">
		

		<h1 class="jumbotron {{tileSelected.cssName}}">{{tileSelected.fontName}}</h1>

		<p>Create a project inspired by <span class="{{tileSelected.cssName}} font-emphasis">{{tileSelected.fontName}}</span><span> and this image!</span></p>

		</div>

	</div>


	<img ng-class="{transparent: !clicked}" class="bottom"  src="{{imageSelected}}" id="imageFull" />

</div>