<div class="container">
	
	

	<flipper flipped="flipped" horizontal>
		<front>
				<button ng-click="flipForward()">
					<div class="thumbnail">
						<img src="{{akSelected.imageUrl}}" alt="...">
						</img>
					</div>
				</button>
		</front>
		<back>
				<button ng-click="flipBack()">
					<div class="thumbnail">
						<img src="{{akSelected.imageUrl}}" alt="...">
						</img>
					</div>
				</button>
		</back>
	</flipper>

	<!-- <div class="button-container">
		<button ng-click="flip()">Flip!</button>
	</div> -->

</div>