<div class="container">
	
	

	<flipper flipped="flipped" horizontal>
		<front>
			font
				<!-- <button ng-click="flipForward()">
					<div class="thumbnail">
						<img src="{{akSelected.imageUrl}}" alt="...">
						</img>
					</div>
				</button> -->
		</front>
		<back>
			back
				<!-- <button ng-click="flipBack()">
					<div class="thumbnail">
						<img src="{{akSelected.imageUrl}}" alt="...">
						</img>
					</div>
				</button> -->
		</back>
	</flipper>

	
		<button ng-click="flip()">Flip!</button>
	

</div>