<!-- <div class="animateThis">
	<div class="tilesColumn1">
		<div ng-repeat="tile in tileList2">
			    <a ng-click="imageClicked()" id="{{tile.name}}" class='animated flipInY _{{$index}}'>
			      	<img src="{{tile.imageUrl}}" alt="..." id="tiles">
			      	</img>
			    </a>
		</div>
	</div>
</div> -->


<div id="animateThis">
	<div class="tilesColumn1">
		<div ng-repeat="tile in tileList2">
			    <a ng-click="imageClicked()" id="{{tile.name}}" class='animated flipInY _{{$index}}'>
			      	<img src="{{tile.imageUrl}}" alt="..." id="tiles">
			      	</img>
			    </a>
		  	
		</div>
	</div>
	<div class="tilesColumn2">
		<div ng-repeat="tile in tileList3">
			    <a ng-click="imageClicked()" id="{{tile.name}}" class='animated flipInY _{{$index}}'>
			      	<img src="{{tile.imageUrl}}" alt="..." id="tiles">
			      	</img>
			    </a>
		</div>
	</div>
</div>

<!-- <div class="refresh">
	<a href="#/home">Refresh</a>
</div> -->

<!-- <div id="bouncey">
	<div class="row">
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[0].imageUrl}}" alt="..." id="imgLeft">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[1].imageUrl}}" alt="..." id="imgLeft">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[1].imageUrl}}" alt="..." id="imgRight">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[2].imageUrl}}" alt="..." id="imgRight">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[2].imageUrl}}" alt="..." id="imgLeft">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[3].imageUrl}}" alt="..." id="imgLeft">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[3].imageUrl}}" alt="..." id="imgRight">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[4].imageUrl}}" alt="..." id="imgRight">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[4].imageUrl}}" alt="..." id="imgLeft">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[5].imageUrl}}" alt="..." id="imgLeft">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[5].imageUrl}}" alt="..." id="imgRight">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[0].imageUrl}}" alt="..." id="imgRight">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	</div>
</div> -->