
	<!-- <div ng-repeat="ak in akList2">
		<div class="col-xs-6 col-md-6">
		    <a href="#/guns" ng-click="imageClicked()" >
		      	<img src="{{ak.imageUrl}}" alt="...">
		      	</img>
		    </a>
	  	</div>
	</div> -->


	<div class="row">
	  <div class="col-xs-6 col-md-6">
	    <a href="#">
	      	<img src="{{akList2[0].imageUrl}}" alt="..." id="imgLeft">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-6">
	    <a href="#">
	      	<img src="{{akList2[1].imageUrl}}" alt="..." id="imgRight">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-md-6">
	    <a href="#" >
	      	<img src="{{akList2[2].imageUrl}}" alt="..." id="imgLeft">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-6">
	    <a href="#">
	      	<img src="{{akList2[3].imageUrl}}" alt="..." id="imgRight">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-md-6">
	    <a href="#">
	      	<img src="{{akList2[4].imageUrl}}" alt="..." id="imgLeft">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-6">
	    <a href="#">
	      	<img src="{{akList2[5].imageUrl}}" alt="..." id="imgRight">
	    </a>
	  </div>
	</div>
