<div id="animateThis">
	<div ng-repeat="ak in akList2">
		<div class="col-xs-6 col-md-6">
		    <a href="#/guns" ng-click="imageClicked()" class='animated flipInY _{{$index+1}}'>
		      	<img src="{{ak.imageUrl}}" alt="...">
		      	</img>
		    </a>
	  	</div>
	</div>
</div>

<div>
	<a href="#/home">Refresh</a>
</div>

<!-- <div id="bouncey">
	<div class="row">
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[0].imageUrl}}" alt="..." id="imgLeft">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[1].imageUrl}}" alt="..." id="imgLeft">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[1].imageUrl}}" alt="..." id="imgRight">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[2].imageUrl}}" alt="..." id="imgRight">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[2].imageUrl}}" alt="..." id="imgLeft">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[3].imageUrl}}" alt="..." id="imgLeft">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[3].imageUrl}}" alt="..." id="imgRight">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[4].imageUrl}}" alt="..." id="imgRight">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[4].imageUrl}}" alt="..." id="imgLeft">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[5].imageUrl}}" alt="..." id="imgLeft">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	  <div class="col-xs-6 col-sm-6">
	  	<flipper flipped="flipped" horizontal>
	  		<front>
			    <a ng-click="imageClicked()">
			      	<img src="{{akList2[5].imageUrl}}" alt="..." id="imgRight">
			    </a>
		    </front>
		    <back>
				<a ng-click="imageClicked()">
			      	<img src="{{akList2[0].imageUrl}}" alt="..." id="imgRight">
			    </a>
	    	</back>
    	</flipper>
	  </div>
	</div>
</div> -->