
<div class="container">

	<div ng-repeat="aks in akList2">
		<div class="col-xs-6 col-md-6">
		    <a href="#" class="thumbnail">
		      	<img src="{{aks}}" alt="...">
		      	</img>
		    </a>
	  </div>
	</div>

	<div ng-repeat="m4s in m4List2">
		<div class="col-xs-6 col-md-6">
		    <a href="#" class="thumbnail">
		      	<img src="{{m4s}}" alt="...">
		    </a>
	  </div>
	</div>

	<!-- <div class="row">
	  <div class="col-xs-6 col-md-6">
	    <a href="#" class="thumbnail">
	      	<img src="{{akList2[0]}}" alt="...">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-6">
	    <a href="#" class="thumbnail">
	      	<img src="{{akList2[1]}}" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-md-6">
	    <a href="#" class="thumbnail">
	      	<img src="{{akList2[2]}}" alt="...">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-6">
	    <a href="#" class="thumbnail">
	      	<img src="{{akList2[3]}}" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-md-6">
	    <a href="#" class="thumbnail">
	      	<img src="{{akList2[4]}}" alt="...">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-6">
	    <a href="#" class="thumbnail">
	      	<img src="{{akList2[5]}}" alt="...">
	    </a>
	  </div>
	</div> -->

</div>